@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PALETA DE COLORES */
:root {
  --main-primario: #364f6b;
  --main-secundario: #3fc1c9;
  --main-bg: #ffffff;
  --main-cuaternario: #2b9bbd;
  --main-quinario: #dddddd;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, var(--main-cuaternario), var(--main-secundario));
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

body {
  background: #364f6b;
  background: -webkit-linear-gradient(to right, #364f6b, #364f6b);
  background: linear-gradient(to right, #364f6b, #364f6b);
  background-attachment: fixed;
  color: var(--main-primario);
}

a {
  text-decoration: none;
  color: var(--main-cuaternario);
}

a:hover {
  text-decoration: none;
  color: var(--main-secundario);
}

.container {
  padding: 1em;
}

.row{
  margin:0px !important;
}
/* sidebar */
.sideBar_custom {
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
}

.app__main-content {
  background-color: var(--main-bg);
  border-radius: 20px;
  box-shadow: 0 0 10px black;
}

.sidebar__avatar {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  object-fit: fill;
}

.sidebar__title {
  background-color: #f1f1f1;
  border-radius: 30px;
}

.sidebar__icon {
  width: 25px;
  height: 25px;
}

.sidebar__name {
  font-family: "Kaushan Script";
  margin: 20px 0;
  font-size: 1.7rem;
  color: var(--main-primario);
}

.sidebar__name > span {
  color: var(--main-cuaternario);
}

.sidebar__item {
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
}

.sidebar__title {
  background-color: #f1f1f1;
  border-radius: 30px;
}

.sidebar__contact {
  background-color: var(--main-quinario);
  padding: 2px 0;
  margin: 20px -15px;
}
.sidebar__icon {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}

.sidebar__email {
  background-image: linear-gradient(to right bottom, var(--main-secundario), var(--main-cuaternario));
  border-radius: 30px;
  color: var(--main-bg);
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
}

.sidebar__email:hover {
  transform: scale(1.1);
}

.sidebar__github:hover,
.sidebar__resume:hover {
  background-color: var(--main-cuaternario);
  color: var(--main-primario);
}

@media (max-width: 991px) {
  .app__main-content {
    margin: 30px 0;
  }
}

/* navbar */

/* navbar */
.navbar {
  display: flex;
}

.navItems {
  display: flex;
}

.nav_heading {
  font-size: 32px;
  font-weight: 700;
  color: #354358;
  border-bottom: 4px solid var(--main-secundario);
}

.navItem {
  margin-right: 20px;
  text-decoration: none;
  color: var(--main-primario);
  font-size: 20px;
}

.navItem:hover {
  text-decoration: none;
  color: var(--main-secundario);
}


/* CONTENIDO DE LA PAGINA */
.content_section {
  padding: 20px 0;
  border-radius: 20px ;
}

.description {
  margin-bottom: 20px;
  padding: 20px;
  text-align: justify;
}

.data_section {
  background-color: var(--main-quinario);
  padding-top: 20px;
  margin: 0 -15px;
}

.sub_heading {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
  color: var(--main-primario);
}

.card_section {
  display: flex;
}

.card_custom {
  background-color: var(--main-bg);
  margin: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 10px;
}

.card_body {
  margin-left: 15px;
}


.card_title {
  color: var(--main-cuaternario);
}

.card_content {
  color: var(--main-primario);
  font-size: 15px;
  text-align: justify;
}

.icon_small {
  width: 30px;
  height: 30px;
}

.icon_large {
  width: 50px;
  min-height: 50px;
  height: auto;
}

.icon_tiny {
  width: 15px;
  height: 15px;
}


/* resume */
.resume_section {
  padding-top: 20px;
}

.resume_card_body {
  margin-top: 15px;
}

.resume_card_title h5 {
  font-weight: 700;
}

.resume_card_description {
  font-size: 13px;
  padding-top: 20px;
  text-align: justify;
}

.skill_div {
  padding-bottom: 20px;
}

.skill_wrapper {
  width: 90%;
  background-color: #F1F2F3;
  border-radius: 20px;
}

.skill_malo {
  width: 45%;
}

.skill_medio {
  width: 65%;

}

.skill_bueno {
  width: 80%;

}

.skill_excelente {
  width: 95%;
}

.skill {
  background-image: linear-gradient(to right, var(--main-primario), var(--main-cuaternario));
  border-radius: 20px;
  color: #fff;
  padding: 4px 14px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 8px;
}


/* project section */
.proyecto_section {
  padding-top: 30px;
  
}

.proyecto_section_header {
  margin-bottom: 20px;
  text-align: center;
}

.proyecto_header_child {
  margin-right: 15px;
}

.proyecto_header_child:hover {
  cursor: pointer;
  color: #000;
}

.proyecto_card {
  text-align: center;
  margin-bottom: 20px;
}

.proyecto_name {
  font-size: 17px;
}

.proyecto_wrapper {
  height: 100%;
  width: 100%;
  min-height: 140px;
  text-align: center;
}

.proyecto_image {
  border-radius: 20px;
  border: 1px solid var(--main-secundario);
  width: 80%;
  height: 150px;
  object-fit: contain;
}

.proyecto_image:hover {
  transform: scale(1.02);
  transition: 0.2s linear;
}
.proyecto_section_header button {
  margin:5px;
}
